{
    "sourceMap": false,
    "instrument": false,
    "report-dir": "./coverage/unit",
    "reporter": [
      "html",
      "lcov",
      "text-summary"
    ],
    "exclude": [
      ".tmp",
      "test",
      "config",
      "node_modules",
      "**/*.spec.*.js"
    ]
}
