{
  "report-dir": "./coverage/unit",
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "node_modules/",
    "config/",
    "dist/",
    ".tmp/"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true
}
